/Age Calculator.zip
/Analog Clock - Dark & Light.zip
/Custom Captcha Generator using JS.zip
/Flex Card Hover Slider.zip
/Glowy Cards Hover Effect.zip
/Hand Scanning Animation.zip
/Happy Birthday Wish.zip
/KFC Landing Page.zip
/Love GF.zip
/Microsoft Homepage Clone.zip
/Panda Login Form.zip
/Password Generator.zip
/Personal Blog Website.zip
/Qr Code Generator.zip
/Responsive Footer.zip
/Sticky Navigation Bar.zip